<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>sadsad</string>
	<key>NSCameraReactionEffectGesturesEnabledDefault</key>
	<false/>
<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
<string>Мы используем ваше местоположение даже в фоновом режиме</string>
<key>NSLocationWhenInUseUsageDescription</key>
<string>Мы используем ваше местоположение, чтобы показать вас на карте</string>
<key>NSAppTransportSecurity</key>
    <dict>
        <key>NSAllowsArbitraryLoads</key>
        <true/>
    </dict>
</dict>

</plist>